<div class="container p-4">
  <div class="row">
    {{#each salas}}
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body">
            <form action="/equipos/list/{{id_sala}}" method="POST">
              <h3 class="card-title text-uppercase">bloque {{bloque_sala}}</h3>
               <p>piso {{piso_sala}}</p>
               <p>Aula {{aula_sala}}</p>
               <p>cantidad de equipos {{cantidad_equipos_sala}}</p>
               <select id='hora' class='form-select my-3' name='hora_reserva'>
                 {{#formatoHoras horas}}
                 {{/formatoHoras }}
               </select>
              <!-- <a class="btn btn-primary" href='/equipos/list/{{id_sala}}'>Reservar un equipo</a> -->
              <button class="btn btn-primary">Reservar un equipo</button>
            </form>
          </div>
        </div>
      </div>
    {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p>No se encuentras salas registradas en este momento.</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
