<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card">
        <div class="card-header">
          <h2>Reservar Equipo</h2>
        </div>
        <div class="card-body">
          <form action="/reservas/add/{{id_equipo}}" method="POST">
            <div class="form-group m-3">
              <h3> Equipo seleccionado {{id_equipo}}</h3>
              <select class="form-select my-3" name="id_sala">
                <option value={{sala.id_sala}}>Bloque: {{sala.bloque_sala}} - Piso: {{sala.piso_sala}} - Aula: {{sala.aula_sala}}</option>
              </select>
              {{#if (condition user)}}
                <select class="form-select my-3" name="id_user">
                  <option selected>Seleccione un usuario</option>
                  {{#each users}}
                    <option value={{id_user}}>{{name_user}}</option>
                  {{/each}}
                </select>
              {{else}}
                <p>Reservado por: {{user.name_user}}</p>
              {{/if}}
              <label for="floatingFecha">Día de reserva</label>
              <input id="floatingFecha" value="{{dateDay}}" type="text" class="form-control my-3" name="fecha_reserva" readonly>
              <label for="floatingHInicial">Hora de la reserva</label>
              <select id='floatingHInicial' class='form-select my-3' name='hora_reserva' readonly>
                <option value="{{hora_reserva}}">{{hora_reserva}}</option>
              </select>
              <label for="floatingHfinal">Hora de finalización</label>
              <select id='floatingHfinal' class='form-select my-3' name='hora_final'>
                {{#formatoHoras (horaSeleccionada hora_reserva horario)}}
                {{/formatoHoras }}
              </select>
              <button class="btn btn-outline-success">Guardar</button>
              <a class="btn btn-outline-danger" href="/equipos/list/{{sala.id_sala}}/{{hora_reserva}}">cancelar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
