<div class="container p-4">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Identificación</th>
          <th scope="col">Nombre</th>
          <th scope="col">Equipo</th>
          <th scope="col">Sala</th>
          <th scope="col">Fecha de reserva</th>
          <th scope="col">Hora de reserva</th>
          <th scope="col">Hora de reserva</th>
        </tr>
      </thead>
      <tbody>
        {{#each reservas}}
        <tr>
          <th scope="row">{{id_user}}</th>
          <td>{{name_user}}</td>
          <td>{{id_equipo}}</td>
          <td>{{id_sala}}</td>
          <td>{{timeago fecha_reserva}}</td>
          <td>{{hora_reserva}}</td>
          <td>{{hora_final}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
